<FormBuilder @for={{this.formData}} @action={{fn this.send}} as |f|>

  <div class="form-group">
    <label for="address_field"><abbr title="Required">*</abbr>
      Address
    </label>
    <div class="field">
      <PlaceAutocompleteField
        @placeChangedCallback={{this.addressUpdated}}
        @onBlurCallback={{action (mut this.showAddressError) true}}
      />
    </div>
    {{#if this.showAddressError}}
      {{#if (v-get this.formData 'geom' 'isInvalid')}}
        <div class="invalid-feedback">
          This field can't be blank
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{#each this.sortedFields as |field|}}
    <f.input
      @attr={{field.key}}
      @as={{field.fieldType}}
      @label={{field.label}}
      @collection={{field.optionCollection}}
      @wrapper={{field.wrapper}}
    />
  {{/each}}

  <f.submit />

  {{#if f.builder.isLoading}}
    Sending data...
  {{/if}}

</FormBuilder>

{{yield}}
