<FormBuilder @for={{this.formData}} @action={{fn this.send}} as |f|>

  <PlaceAutocompleteField @placeChangedCallback={{this.addressUpdated}} />
  <div class="">
    <p>geom: {{this.formData.geom}}</p>
    <p>address: {{this.formData.address}}</p>
  </div>

  {{#each this.sortedFields as |field|}}
    <f.input
      @attr={{field.key}}
      @as={{field.fieldType}}
      @label={{field.label}}
      @collection={{field.optionCollection}}
    />
  {{/each}}

  <f.submit />

  {{#if f.builder.isLoading}}
    Sending data...
  {{/if}}

</FormBuilder>

{{yield}}
