<FormBuilder @for={{this.formData}} @action={{fn this.send}} novalidate as |f|>

  <div class="form-group">
    <label for="address_field" class="font-bold uppercase text-xs"><abbr title="Required">*</abbr>
      Address
    </label>
    <div class="field">
      <PlaceAutocompleteField
        @placeChangedCallback={{this.addressUpdated}}
        @onBlurCallback={{action (mut this.showAddressError) true}}
        @inputClass="form-control {{if this.showAddressError (if (v-get this.formData 'geom' 'isInvalid') 'is-invalid')}}"
        @withGeoLocate="true"
      />
    </div>
    {{#if this.showAddressError}}
      {{#if (v-get this.formData 'geom' 'isInvalid')}}
        <div class="invalid-feedback">
          This field can't be blank
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{#each this.sortedFields as |field|}}
    <f.input
      @attr={{field.key}}
      @as={{field.inputType}}
      @label={{field.label}}
      @collection={{field.optionCollection}}
      @wrapper={{field.wrapper}}
    />
  {{/each}}

  <f.submit class="btn -primary" @text={{if f.builder.isLoading 'Saving...' 'Save'}} />
</FormBuilder>

{{yield}}
